<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%level - %logger - %message%n%xException</pattern>
        </encoder>
    </appender>

    <logger name="model.DefaultLoanRiskAnalysis" level="DEBUG" />
    <logger name="play" level="INFO" />
    <logger name="application" level="INFO" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>